{% extends 'flask_user/public_base.html' %}

{% block content %}
{% from "common/form_macros.html" import render_field, render_submit_field %}
<h1>{%trans%}User Medicine{%endtrans%}</h1>

<form action="" method="POST" class="form" role="form">
  <div class="row">
    <div class="col-sm-6 col-md-5 col-lg-4">
    {{ form.hidden_tag() }}

    {{ render_field(form.medicine_name, tabindex=240) }}
    {{ render_field(form.medicine_schedule, tabindex=250) }}
    {{ render_submit_field(form.submit, tabindex=260) }}
    </div>
  </div>
</form>

{% endblock %}
